/* .chats {
    max-width: 700px;
    height: 100vh;
    overflow-y: auto;
    padding: 2rem 0 2rem 2rem; 
    box-sizing: border-box;
} */
/* .chats {
    max-width: 700px;
    height: 100vh;
    overflow-y: auto;         
    padding: 2rem;
    scrollbar-width: none;   
}
.chats::-webkit-scrollbar {
    display: none;            
} */

.chats {
    max-width: 700px;
    height: 100vh;
    overflow-y: auto;
    padding: 2rem;
    box-sizing: border-box;
}

/* Scrollbar Styles */
.chats::-webkit-scrollbar {
    width: 8px;                
}

.chats::-webkit-scrollbar-track {
    background: transparent;   
}

.chats::-webkit-scrollbar-thumb {
    background: #a0a0a0;       
    border-radius: 10px;       
}

.chats::-webkit-scrollbar-thumb:hover {
    background: #7d7d7d;        
}

/* For Firefox */
.chats {
    scrollbar-width: thin;
    scrollbar-color: #a0a0a0 transparent;
}
.userDiv {
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
}
.gptDiv {
    text-align: left;
    font-size: 0.9rem;
}
.userMessage {
    background-color: #323232;
    padding: 10px 20px;
    border-radius: 14px;
    margin-left: 15rem;
    max-width: 500px;
    width: fit-content;
}
.gptMessage {

}
.hljs {
    border-radius: 14px !important;
}
pre{
    white-space: pre-wrap;
}